@use 'colors' as *
@use "sass:color"

/* ____________________________________
/* |                                  |
/*!| -==   MOBILE MENU HEADER    ==-> |
/* |                                  |
/* |__________________________________|

@media screen and (max-width: 980px)
  .et_fixed_nav #main-header, #main-header #mobile_menu
    background-color: color.adjust($white, $alpha: -.05 )
    position: fixed !important

/* ________________________________
/* |                              |
/*!|  MAIN MENU HOVER ANIMATION   |
/* |______________________________|


#top-menu > li > ul
  overflow: hidden

  > li
    &::before
      color: $l-yel-teal
      content: '\f105'
      font: 1em Fontawesome
      left: 13px
      position: absolute
      top: 13px
      transform: translateX(-50px)

    &:hover
      &::before
        transform: translateX(0)
        transition: all 500ms ease-in-out 0s

/*  END - MAIN MENU HOVER ANIMATION
 ==================================

/* ________________________________
/* |                              |
/*!|  MAIN MENU WIDTH ADJUSTMENT  |
/* |______________________________|

@media screen and (max-width: 767px)
  #main-header
    .container.et_menu_container
      width: 90%
      margin-left: 10px
      margin-right: auto

/*  END - MAIN MENU WIDTH ADJUSTMENT
 ===================================

/* ╦  ╔═╗╔═╗╔═╗  ╦ ╦┌─┐┌─┐┌┬┐┌─┐┬─┐
/* ║  ║ ║║ ╦║ ║  ╠═╣├┤ ├─┤ ││├┤ ├┬┘
/* ╩═╝╚═╝╚═╝╚═╝  ╩ ╩└─┘┴ ┴─┴┘└─┘┴└─
 .
  ==================================

#main-header
  .logo_container
    a
      &::after
        color: $vd-teal
        content: 'NiRA'
        font-family: 'Zilla Slab', Georgia, 'Times New Roman', serif
        font-size: 40px
        font-weight: 500
        height: 100px
        margin-left: 10px
        position: relative
        top: 10px
        width: 250px

  #logo
    /* width: 180px !important
     *height: 180px */
    animation: rotation 120s 0s linear infinite
    z-index: -999

@keyframes rotation
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

/* _____________________
/* |                   |
/*!|      DIVIDER      |
/* |___________________|

@media screen and (max-width: 767px)
  
  #main-content
    .section_has_divider
      &.et_pb_top_divider .et_pb_top_inside_divider,
      &.et_pb_bottom_divider .et_pb_bottom_inside_divider
        background-size: 100% 50px
        height: 50px

/* __________________________
/* |                        |
/*!|  DEVIDERS CORRECTION   |
/* |________________________|

.et_pb_top_inside_divider
  margin-top: 0

/* END OF LOGO HEADER
  ====================

/* ============================
/* |                          |
/*!|    LEARN MORE SECTION    |
/* |__________________________|


.x-learn-more
  .et_pb_row:nth-child(3)
    justify-content: center
    gap: 20px

    .et_pb_column:nth-child(1),
    .et_pb_column:nth-child(2),
    .et_pb_column:nth-child(3),
    .et_pb_column:nth-child(4)
      width: auto
      flex: 1 1 23.5%

@media screen and (max-width: 980px)
  .x-learn-more
    .et_pb_row:nth-child(3)
      gap: 2%

      .et_pb_column
        margin-bottom: 30px
        .et_pb_module
          margin-bottom: 0

    .et_pb_row_4col
      & > .et_pb_column.et_pb_column_1_4
        margin-right: 0

@media screen and (max-width: 480px)
  .x-learn-more
    .et_pb_row:nth-child(3)
      flex-flow: column wrap

/* END OF LEARN MORE SECTION
  ==========================

/* _______________________
/* |                     |
/*!|    SUBSCRIPTION     |
/* |_____________________|
#sub
  .et_parallax_bg
    animation: zoom 1s ease-in-out 2s forwards
    transform: scale(0, 0)

@keyframes zoom
  100%
    transform: scale(1, 1)

/* END OF SUBSCRIPTION
  ====================