@use 'colors' as *
@use "sass:color"
/*
 =================

/* ________________
/* |              |
/*!|    BASICS    |
/* |______________|

p
  a
    &:link
      // border: dotted 2px $trans
      padding: 0 6px
      text-decoration: underline dotted 2px $d-teal
      transition: all 200ms ease-in-out 0s

    &:hover
      // border: dotted 2px $d-teal
      // border-radius: 10px
      text-decoration: none dotted 2px $d-teal
      transition: all 200ms ease-in-out 0s

    &:focus
      // border: solid 2px color.adjust($b-azur, $alpha: -.7)
      // border-radius: 10px
      // box-shadow: 0 0 5px color.adjust($black, $alpha: -.3) inset, 0 0 7px 0 color.adjust($b-azur, $alpha: -.7)
      // text-decoration: none dotted 2px $d-teal
      transition: all 200ms ease-in-out 0s

#footer-info
  a
    &:link
      border: none
      text-decoration: none

    &:hover
      border: none
      color: $b-azur
      // opacity: 1 !important

// a
//   &:hover
//     text-decoration: underline dotted 2px $d-teal !important
//     cursor: pointer

//   &:focus
//     text-decoration: underline dotted 2px $d-teal !important



.x-fa
  margin-left: 1vw


/* _____________________________
/* |                           |
/*!|  UL lists and LI markers  |
/* |___________________________|

.et_pb_section
  &.x-items
    ul
      padding: 1.6vw 0 1.1vw 2vw

      ul
        padding-left: 2.6vw

        li
          &::before
            content: '\f105'
            font-family: Fontawesome
            position: relative

      li
        list-style-type: none

        &::before
          content: '\f0da'
          font-family: Fontawesome
          left: -.5vw
          position: relative

/* ==============================
/* |                            |
/*!|      GLOBAL SECTIONS       |
/* |____________________________|



/*   END GLOBAL SECTIONS
 ========================
 .
 ===============
 .
 ╔╗╔╔═╗╦  ╦╦╔═╗╔═╗╔╦╗╦╔═╗╔╗╔
 ║║║╠═╣╚╗╔╝║║ ╦╠═╣ ║ ║║ ║║║║
 ╝╚╝╩ ╩ ╚╝ ╩╚═╝╩ ╩ ╩ ╩╚═╝╝╚╝
 .
 ==============

/** #et-top-navigation
 float: left
 padding-left: 20vw !important
 **/

#et-top-navigation
  float: right !important
  padding-right: 1vw !important

/* _______________________________
/* |                             |
/*!|  TOGGLES COLOR TRANSITION   |
/* |_____________________________|

.et_pb_accordion_item
  transition: background-color 200ms ease-in-out
/*
 ====================
 
  ╦ ╦╔═╗╔╦╗╔═╗
  ╠═╣║ ║║║║║╣ 
  ╩ ╩╚═╝╩ ╩╚═╝

/* _______________________________________
/* |                                     |
/*!|  HOME - RIGHT SIDE WELCOME SECTION  |
/* |_____________________________________|

.et_pb_row_0
  .et_pb_column_1
    z-index: 8 !important

.et_pb_column_0
  &.n-welcome
    background-position: top left
    background-size: 120% 100%
    overflow: scroll

@media screen and (max-width: 980px)
  .home
    .et_pb_section_0
      h2
        line-height: 1.3em

      p
        line-height: 1.5em


/* _______________________
/* |                     |
/*!|  HOME - ABOVE FOLD  |
/* |_____________________|

.x-rainbow
  background-color: $white
  background: linear-gradient(0deg, $white 10%, $trans 30%) padding-box, linear-gradient(35deg, $g-yellow, $trans) padding-box, linear-gradient(100deg, $g-pink, $trans) padding-box, linear-gradient(245deg, $g-sky, $trans) padding-box !important
  border-color: color.adjust($white, $alpha: .73) !important
  border-radius: 0


/* ______________________________
/* |                            |
/*!|  HOME - SUBSCRIBE SECTION  |
/* |____________________________|

.form
  .et_pb_row
    .et_pb_column
      &:last-child
        padding: 0
        width: 60%

      &:first-child
        margin-right: 2%
        width: 40%

.x-col-inner
  background-image: linear-gradient(180deg, $m-94-teal 0%, $d-97-teal 100%)
  height: auto
  padding: 3vw 9vw
  width: 100%

.x-text-module
  color: $l-purple
  padding: 1em 0
  padding-left: 3vw
  padding-right: 3vw

  &.title
    h2
      color: $white
      font-size: 2.2em
      font-weight: 100
      text-align: center

  &.text-1
    p
      font-size: 1.3em
      line-height: 1.7em !important

  &.text-2
    padding-bottom: 3vw

/*   END SKEWD COLUMNS PROTOTYPE
 ===============================

// @import 'toolTips'
// @use 'toolTips.sass' as *
// @import 'connections'
// @use 'connections'

/* _____________________________
/* |                           |
/*!|    HOME - INFOGRAPHICS    |
/* |___________________________|

@media screen and (max-width: 980px)

  .infoG
      .et_pb_column.et-last-child
        margin-right: auto

@media screen and (min-width:767px) and (max-width:980px)
  .infoG 
    display: flex
    flex-flow: row wrap

  .infoG > div 
    flex: 1 1 45%

  .infoG > div:nth-child(1) img 
    max-width: 100%

@media screen and (max-width: 767px)

  .infoG
    display: flex
    flex-flow: row wrap
    // .et_pb_row,
    // .et_pb_column
    //   padding: 2%

    .et_pb_column
      margin-top: 4%

      &.et_pb_column_14
        clear: both
        margin: 10vh 0 0
        padding: 0
        width: 100% !important

      .et_pb_text_15
        padding: 0

    & > .et_pb_column:nth-child(1) img 
      max-width: 100%
  
    .et_pb_code_0 
      width: 100%
  
    & > .et_pb_column
      flex: 1 1 45%

    & > .et_pb_column.et-last-child
      flex: 1 1 100%
      
    .cycleBox
        transform: translateX(0)
        width: 250px
      
    &.et_pb_row_8
      display: block
      margin: 0
      max-width: 100%
      padding: 0 6vw
      width: 100%

      .et_pb_column
        float: left
        padding: 0 2vw
        width: 47%

      .et_pb_column_11
        width: 100%

@media screen and (max-width: 480px)
  
  .infoG
    .et_pb_column
      &.et-last-child
        padding: 2% 0
        width: 100% !important

        .et_pb_module.et_pb_text
          margin-top: 65% !important
    
    .et_pb_code_0 
      width: 100%
        // margin-top: -10%

    .cycleBox
      transform: translateX(10%)
      width: 190px

/* __________________________________
/* |                                |
/*!|    ITEMS OF ASSESSMENT PAGE    |
/* |________________________________|

.page-id-719
  .et_pb_section
    &.x-items
      background: linear-gradient(35deg, $g-yellow, $trans) content-box, linear-gradient(100deg, $g-pink, $trans) padding-box, linear-gradient(145deg, $g-sky, $trans) border-box !important
      padding: 0

/*   END ITEMS OF ASSESSMENT PAGE
 ================================
 .
 =========
 QUOTES
 =========

.quotes
  p
    padding: 3vw 1vw

    &::before,
    &::after
      color: $quotes
      /*     content: open-quote;*/
      content: '\f10d'
      font-family: Fontawesome
      font-size: 2em


    &::before
      left: -1.5vw
      position: absolute
      top: 80px
      z-index: -9

    &::after
      content: '\f10e'
      float: right
      position: relative
      right: 0
      top: 0
      z-index: -9

  .et_pb_text_inner > ul
    background-color: $quotes
    border-left: 7px solid $l-blue
    margin-top: 50px

/*  END QUOTES
 ============
 */

/*.
 =======================
 BLOOM FORM CONTACT PAGE
 =======================
 .
.et_bloom
  .et_bloom_optin_3
    .carrot_edge
      .et_bloom_form_content
        &::before
          border: 0 solid $trans !important

.page
  &.et_bloom
    .et_bloom_optin_3
      .et_bloom_form_container
        .et_bloom_form_header,

        &
          background-color: $trans !important

/* =================
 CUSTOM FORM
 =================
 .
.emaillist
  form
    background-color: $d-grey
    border-radius: 3px
    color: $white
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    padding: 1vw

  input
    &[type='text'],
    &[type='email']
      border-radius: 3px
      font-size: 18px
      padding: .5vw
      width: 100%

  .es-field-wrap
    width: 29%

  .es_submit_button
    background-color: $l-blue
    border: 0
    border-radius: 5px
    font: 20px 'Titillium Web', sans-serif
    height: 44.5px
    margin-top: 30px
    padding: 0 !important
    width: 29%

@media screen and (max-width: 767px)
  .emaillist
    form
      align-items: center
      border-radius: 3px
      color: $white
      display: flex
      flex-direction: column
      justify-content: center
      padding: 1vw

    .es-field-wrap
      width: 90% !important 

/*     END CUSTOM FORM
 =======================
 .

/* ____________________________
/* |                          |
/*!|    SEARCH RESULT PAGE    |
/* |__________________________|

.search
  &.et_right_sidebar
    #main-content
      .container
        margin: 0
        max-width: 100%
        width: 100%

    #left-area
      padding-right: 2vw

    .flex
      display: grid
      grid-template: 10% / auto auto auto
      padding: 0 2vw

  article
    padding: 2vw

  .pagination
    padding: 3vw

    a
      color: $d-teal
      font-size: 1.5em

/*   END SEARCH RESULT PAGE
 ==========================

/* _____________________
/* |                   |
/*!|     404 - PAGE    |
/* |___________________|
.error404
  .et_pb_section_0
    .et_pb_row_0
      background: $white

/*     END PAGE 404.
 =======================
 .

/* __________________________________
/* |                                |
/*!|    EMAIL CONFIRMATION GREEN    |
/* |________________________________|

.es_subscription_message
  &.success,
  &.error
    background-color: $b-yellow
    border-radius: 5px
    display: block
    padding: 2.5vw 5vw 3vw

.x-sc-module
  &.sc
    .es_subscription_message
      &.success,
      &.error
        font-size-adjust: .7

/*     END EMAIL CONFIRMATION GREEN
/*======================================

/*
 LEFT SIDE PROCESS SECTION
 =========================


/* ______________________
/* |                    |
/*!|    CONTACT PAGE    |
/* |____________________|

@media screen and (max-width: 480px)
  .page-id-30
    .et_pb_row_0
      &.et_pb_row
        padding: 5vw 7vw 12vw
        width: 100%

/* ____________________________
